body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  padding: 2rem 0.4rem;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#tempInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 20px;
  width: 50%;
  margin: 0;
}
#temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
#temperature h3,
.others h3 {
  font-size: 1.4rem;
}

#temperature p {
  font-size: 1.17rem;
  margin: 0;
}

.emoji {
  font-size: 3rem;
}

.others p {
  margin: 0;
  font-size: 1.17rem;
}

#othersInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.others {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  border-radius: 16px;
  width: auto;
}

@media (max-width: 768px) {
  .card {
    padding: 2rem 0.4rem;
  }
}

@media (max-width: 576px) {
  .card {
    padding: 2rem 0.4rem;
  }

  .emoji {
    font-size: 2rem;
  }
}

/* Hide the navbar search box on smaller screens */
@media (max-width: 992px) {
  #search-form-navbar {
    display: none !important;
  }
}

/* Hide the mobile search box on larger screens */
@media (min-width: 992px) {
  #search-box-mobile {
    display: none !important;
  }
}

footer {
  margin-top: auto;
}

#mainDiv {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

#mainDiv.show {
  opacity: 1;
  visibility: visible;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050; /* Ensure it appears above other elements */
  width: 3rem;
  height: 3rem;
}

/* Adjust card padding and font sizes for smaller screens */
@media (max-width: 484px) {
  .card {
    padding: 2rem 0.4rem;
  }

  #tempInfo {
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    padding: 10px;
  }

  #temperature h3,
  .others h3 {
    font-size: 1.2rem;
  }

  #temperature p,
  .others p {
    font-size: 1rem;
  }

  .emoji {
    font-size: 2.5rem;
  }

  .others {
    margin: 10px;
    padding: 15px;
  }

  footer p {
    font-size: 0.8rem;
  }

  footer small {
    font-size: 0.6rem;
  }
}

/* Ensure proper scaling for very small screens */
@media (max-width: 399px) {
  #tempInfo {
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
  }
  .card {
    padding: 2rem 0.4rem;
  }

  .others {
    margin: 8px;
    padding: 10px;
  }
  .others h3 {
    font-size: 0.8rem;
  }
  .others p {
    font-size: 0.8rem;
  }

  .emoji {
    font-size: 2rem;
  }
}
